<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Big news!</h1>
    <p>
      A new user, <%= @instructor.username %> has just applied to become an instructor.
    </p>
    <p>You can view <%= @instructor.first_name %>'s application at: <%= instructor_url(@instructor) %> </p>
  </body>
</html>
