<!-- Google Code for Instructor Leads Conversion Page -->
      <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 880357341;
      var google_conversion_language = "en";
      var google_conversion_format = "3";
      var google_conversion_color = "ffffff";
      var google_conversion_label = "3ofGCKve3XUQ3d_kowM";
      var google_remarketing_only = false;
      /* ]]> */
      </script>
      <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
      </script>
      <noscript>
      <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/880357341/?label=3ofGCKve3XUQ3d_kowM&amp;guid=ON&amp;script=0"/>
      </div>
      </noscript>

<!-- Facebook lead conversion event -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '183601342212645');
            fbq('track', 'Lead');

    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=183601342212645&ev=PageView&noscript=1"
    /></noscript>


<ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
            <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3-us-west-1.amazonaws.com/snowsports/backcountry-jackson-hole-hero.jpg'); height: 100%; width: 100%;" data-href=""    
            </div>
</ul>
<div id="middle" class="container">
  <div class="white">

    <header class="page-header">
      <h3>Thanks for <strong>Applying!</strong> A member of our team will reach out to you in the next 24 hours.</h3>
    </header>

      <div class="row">

        <div class="col-md-12" class="white-transparent-bg navy-text">

          <!-- <h4>If you have not already, click below to register with Facebook.</h4> -->

          <div class="center">
                  <%= link_to image_tag("https://s3-us-west-1.amazonaws.com/snowsports/snowdance-drake.gif", class:"center") %>
            <h2 class="center"> In the meantime, keep up those snow dances. </h2>
                  <!-- <%= link_to image_tag("fb-login.png", class:"fb-login-btn"), user_facebook_omniauth_authorize_path %> -->
        </div>

          <!-- <p>Once you're registered, you can:</p>
          <ul class="list-icon check">
            <li>Book ski or snowboarding lessons.</li>
            <li>Apply to become an instructor.</li>
            <li>Keep track of your lesson history and performance.</li>
            <li>View your profile information from any computer in the world.</li>
            <li>Connect with other instructors in the snowsports community.</li>
          </ul> -->


        </div>
        <!-- /WHY? -->

      </div>


    <hr />

    <!-- CALLOUT -->
    <div class="alert alert-default fade in">

      <div class="row">

        <div class="col-md-9 col-sm-8"><!-- left text -->
          <h4 class="nomargin">Contact <strong>Customer Support</strong></h4>
          <p class="nomargin">
            If you have any urgent questions, please free free to contact us directly.
          </p>
        </div><!-- /left text -->


        <div class="col-md-3 col-sm-4 text-right"><!-- right btn -->
          <a href="mailto:info@snowsportsjobs.com" target="_blank" class="btn btn-primary btn-lg">CONTACT</a>
        </div><!-- /right btn -->

      </div>

    </div>
    <!-- /CALLOUT -->


  </div>
</div>


<!-- SLIDER -->

<ul id="slider">
  <li><img src="https://s3-us-west-1.amazonaws.com/snowsports/backcountry-jackson-hole-hero.jpg" alt="" /></li>
</ul>
<!-- /SLIDER
