<h1>Recommended Accommodations in Tahoe</h1>
<h3><b>Step 1</b> - decide where you want to ski (skip to below). Tahoe has a full range of accommodations options from budget to luxury, but we'd all rather drive 5 minutes to the slopes than 50 minutes, so best to plan accordingly.</h3>
<h3><b> Step 2</b> - Search Google, Airbnb, and/or a few of the other preferred rental listings properties below.</h3>
<ul>
	<li>Tahoe Rentals by Wells & Bennett</li>
	<li>Tahoe Getaways: Lake Tahoe Vacation Rentals & Ski Leases</li>
	<li>Tahoe Time Vacation Rentals</li>
	<li>West Lake Properties</li>
	<li>Enjoy Tahoe by Hauserman Group</li>
	<li>VRBO - Tahoe City Vacation Rentals</li>
</ul>

<h2>If you're staying in North Tahoe and want some more inspiration, below are our favorite places that we can personally vouch for:</h2>

<h3>
	Our Favorite Airbnb Listings - best for families; each of these properties are owned by great hosts with invaluable local knowledge to guide your stay; space limited especially over holidays. 
</h3>
Charming 1949 Tahoe 2BR Cabin (5 min drive) - sleeps 6, $129/night
West Shore Luxury Cottage - 3 BDR (walkable) - sleeps 6, $592/night
Homewood Hideaway's 2 Bedroom Flat (walkable) - sleeps 5, $255/night
Chamberlands Bear's Den (2 min drive) - sleeps 8, $246/night
Game Room Suite (3 min drive) - sleeps 6, $180/night
Peaceful Mountain Apartment - 1 BDR (15 min drive) - $115/night
Ski Bunkhouse (15 min drive) - $45/night
1, 2, or 3 Bedroom in Carnelian Bay (20 min drive) - $199/night
**Please note that Airbnb prices are subject to change. This document last updated Dec-20-2016.

<h3> Hotels and Inns near Homewood </h3>
West Shore Cafe & Inn (owned by Homewood, walkable) - from $350/night
Cedar Crest Cottages - (1 min drive, not walkable) from $250/night
Sunnyside Resort & Lodge (6 min drive) - from $200/night
The Cottage Inn (7 min drive) - from $225/night
America’s Best Value Inn (11 min drive) - from $148/night
Granlibakken (12 min drive) - from $170/night
Pepper Tree Inn (12 min drive) - from $168/night
Tahoe City Inn (12 min drive) - from $125/night 
Mother Nature’s Inn (12 min drive) - from $65/night (must call, no online booking)
Base Camp Tahoe (13 min drive) from $153/night
Hostel Tahoe (29 min drive) - from $30/night per dorm bed, $65/night for private room

