<img src="http://www.brandemix.com/wp-content/uploads/2015/11/UbervsLyft.jpg" alt="tahoe-map" class="uber-lyft-logo">
<h2 class="center"><b>Is there Uber?</b> <span class="italic smaller-text">(the most important question.)</span> </h2>
<h3 class="left">Since early 2016, Uber and Lyft have both had drivers in both North and South Lake Tahoe. However, expect wait times to typicall be in the 10-15 minutes range, and fares will likely be a bit higher than your typical metro area, to compensate for the longer distances drivers must travel to pick you up.</h3>
<hr>
<h2>Best Locations for Après Ski</h2>
<ul class="guide-lists">
	<li class="white-text">Homewood: <a href="#" class="green-link">West Shore Cafe</a></li>
	<li class="white-text">Alpine: <a href="#" class="green-link">Ice Bar</a></li>
	<li class="white-text">Squaw: <a href="#" class="green-link">Le Chamois</a></li>
	<li class="white-text">Tahoe City: <a href="#" class="green-link">The BridgeTender</a></li>
</ul>

<h2>Late-night Shenanigans</h2>
<ul class="guide-lists">
	<li class="white-text">Tahoe City: <a href="#" class="green-link">Pete N Peters</a></li>
	<li class="white-text">Truckee: <a href="#" class="green-link">TBD</a></li>
	<li class="white-text">Kings Beach: <a href="#" class="green-link">TBD</a></li>
	<li class="white-text">South Lake Tahoe: <a href="#" class="green-link">TBD</a></li>
</ul>
