<h3 class="left"><b>Disclosure</b> - <span class="italic">while we've explored much of Tahoe's dining options over the last seven years, our expertise is on the mountain, not in the kitchen. Since you likely have your trusty smartphone nearby anyhow, know that <a href="www.yelp.com" class="green-link">Yelp</a> and <a href="www.opentable.com" class="green-link">OpenTable </a> work just as well in Tahoe as anywhere else. Nonetheless, here's a few favorites based on our personal experiences. (Most are North Tahoe, simply because that's where we live.)</span></h3>
<ul class="guide-lists">
	<li><a href="https://www.yelp.com/biz/coffeebar-truckee-3?osq=Restaurants" class="green-link">Coffeebar in Truckee</a> ($) No frills, just great coffee, sandwhiches, and snacks.</li>
	<li><a href="https://www.tahoefatcat.com/" class="green-link">Fat Calf</a> in Tahoe City ($$) Open late, an upbeat bar & grill with classic American dishes, cocktails & regular live music..</li>
	<li><a href="http://tahoebrewing.com/?age-verified=6e8ad6bee4" class="green-link">Tahoe Mountain Brewing Company</a> ($$) Incredibly balanced, elegant and innovative beers. Tons of ales to try, and super chill and welcoming atmosphere to boot.</li>
	<li><a href="http://fiftyfiftybrewing.com/" class="green-link">Fifty Fifty Brewing Company</a> in Truckee ($$) Warm, inviting brewpub with a diverse selection of craft beer and good food. Known best for their award-winning Eclipse, a barrel-aged stout.</li>
	<li><a href="https://www.yelp.com/biz/martys-cafe-truckee?osq=Restaurants" class="green-link">Marty's Cafe</a> in Truckee ($$) A pioneer in serving French-California cuisine at affordable prices.</li>
	<li><a href="https://www.yelp.com/biz/cottonwood-restaurant-and-bar-truckee?osq=Restaurants" class="green-link">Cottonwood Restaurant</a> in Truckee ($$$) Housed in a historic ski lodge, boasting eclectic meals & deck seating with views of historic downtown Truckee.
	<li><a href="http://www.garwoods.com/" class="green-link">Gar Woods Grill & Pier</a> in Carnelian Bay ($$$) fresh fish, contemporary American cuisine with beautiful lakeside dining.</li>
</ul>
