<h3 class="left"><b>Disclosure</b> - <span class="italic">while we've explored much of Tahoe's dining options over the last seven years, our expertise is on the mountain, not in the kitchen. Since you likely have your trusty smartphone nearby anyhow, know that <a href="www.yelp.com" class="green-link">Yelp</a> and <a href="www.opentable.com" class="green-link">OpenTable </a> work just as well in Tahoe as anywhere else. Nonetheless, here's a few favorites based on our personal experiences. (Most are North Tahoe, simply because that's where we live.)</span></h3>
<ul class="guide-lists">
	<li><a href="#" class="green-link">Gar Woods Grill & Pier</a> in Carnelian Bay - $$$ - fresh fish, contemporary American cuisine with beautiful lakeside dining.</li>
	<li><a href="#" class="green-link">Fat Calf</a> in Tahoe City - $$ - Open late, an upbeat bar & grill with classic American dishes, cocktails & regular live music.
.</li>
	<li><a href="#" class="green-link">Tahoe City Brewing Company</a> - $$ - TBD.</li>
	<li><a href="#" class="green-link">Fifty Fifty Brewing Company</a> in Truckee - $$ - TBD.</li>
	<li><a href="#" class="green-link">Burger Me</a> in Truckee - $ - TBD.</li>
</ul>
