<h1>North Tahoe Resorts</h1>
<ol>
	<li><a href="#" class="green-link">Tahoe Rentals by Wells & Bennett</a></li>
	<li><a href="#" class="green-link">Tahoe Getaways: Lake Tahoe Vacation Rentals & Ski Leases</a></li>
	<li><a href="#" class="green-link">Tahoe Time Vacation Rentals</a></li>
	<li><a href="#" class="green-link">West Lake Properties</a></li>
	<li><a href="#" class="green-link">Enjoy Tahoe by Hauserman Group</a></li>
	<li><a href="#" class="green-link">VRBO - Tahoe City Vacation Rentals</a></li>
</ol>

<h2>1. Homewood Mountain Resort</h2>
<h3><b>Highlights:</b></h3>

<ul>
	<li>Average Ticket price: $79</li>
	<li>Skiable Acres: 1260</li>
	<li>Number of Lifts: 4</li>
	<li>Annual Snowfall: 500 inches</li>
</ul>
<hr>
<h1>South Tahoe Resorts</h1>

