
<h3 class="left navy-text">Tahoe has been a world-renowned skiing destination since the early 1900s, and boasts 14 resorts within 35 miles of the lake. Each mountain has its own unique atmosphere and terrain, with price points varying from the budget-friendly to 5-star luxury. Below you'll find our unscientific ranking of each resort. Visit our <a href="/resorts" class="green-link"> resorts page</a> or click below to find additional details for each ski area.</h3>
<img src="https://s3.amazonaws.com/snowschoolers/skitahoe_map.jpg" alt="tahoe-map" class="tahoe-map">
<ol class="guide-lists">
	<li><a href="resorts#homewood" class="black-link">Homewood </a></li>
	<li><a href="resorts#alpine-meadows" class="black-link">Alpine Meadows </a></li>
	<li><a href="resorts#kirkwood" class="black-link">Kirkwood </a></li>
	<li><a href="resorts#squaw" class="black-link">Squaw Valley </a></li>
	<li><a href="resorts#sugar-bowl" class="black-link">Sugar Bowl </a></li>
	<li><a href="resorts#heavenly" class="black-link">Heavenly </a></li>
	<li><a href="resorts#northstar" class="black-link">Northstar </a></li>
	<li><a href="resorts#mt-rose" class="black-link">Mt. Rose </a></li>
	<li><a href="resorts#sierra-at-tahoe" class="black-link">Sierra at Tahoe </a></li>
	<li><a href="resorts#boreal" class="black-link">Boreal </a></li>
	<li><a href="resorts#diamond-peak" class="black-link">Diamond Peak </a></li>
	<li><a href="resorts#tahoe-donner" class="black-link">Tahoe Donner </a></li>
	<li><a href="resorts#soda-springs" class="black-link">Soda Springs </a></li>
	<li><a href="resorts#donner-ski-ranch" class="black-link">Donner Ski Ranch </a></li>
	<li><a href="resorts#granlibakken" class="black-link">Granlibakken </a></li>
	<li><a href="resorts#sky-tavern" class="black-link">Sky Tavern </a></li>
</ol>
<hr>

