  <div class="col-md-8">
    <h3>Not a fan of sliding down slippery slips on skis or a board? Not a problem! Tahoe has activities for everyone</h3>
    <p class="about-tahoe navy-text">
    Whether you're staying in North Tahoe or South Lake, there are plenty of ways to enjoy Tahoe without hitting the slopes. If the weather is nice, we highly encourage getting outside and finding a bit of elevation to take in the picturesque views that have made Tahoe famous for so many years. When it's blowing snow in all directions, a spa day may be just what the doctor ordered.
    </p>
  </div>
  <div class="col-md-4">
    <div class="maps-container row">
      <iframe
      width="350"
      height="160"
      frameborder="0"
      src="youtube.com" allowfullscreen>
    </iframe>
    </div>
  </div>

<h3>Other Outdoor Activities</h3>
<ul class="guide-lists">
	<li>Sledding (FREE!) - see the <a href="#" class="green-link"> list of popular locations</a></li>
	<li>Snowshoeing - rentals available from <a href="#" class="green-link">Tahoe Dave's</a> for just $20/day.</li>
	<li>Tubing at <a href="#" class="green-link">Squaw Valley</a> or <a href="#" class="green-link">Granlibakken</a></li>
	<li>Cross-country skiing - the <a href="#" class="green-link"> Tahoe City XC Center</a> is our favorite!</li>
	<li><a href="#" class="green-link">Snow Kiting at Royal Gorge</a> (near Sugar Bowl)</li>
	<li>Ice Skating - enjoy the new public outdoor rink at the <a href="#" class="green-link">Tahoe City Winter Sports Park</a></li>
</ul>
<h3>Warm & Cozy Things to Do</h3>
<ul class="guide-lists">
	<li>Catch a matinee at the <a href="#" class="green-link">MOVIE THEATRE in Tahoe City</a></li>
	<li><a href="#" class="green-link">Shopping in Tahoe City</a></li>
	<li>Spa Day - treat yourself at the <a href="#" class="green-link">Northstar village spa</a> or the <a href="#" class="green-link">INSERT NAME</a> at Squaw Valley</li>
</ul>

