  <div class="row">
	  <div class="col-md-8">
	    <h2 class="center">Personally not a fan of skiing or snowboardng? <br> Not a problem! Tahoe has activities for everyone!</h2>
	    <p class="about-tahoe white-text">
	    Whether you're staying in North Tahoe or South Lake, there are plenty of other ways to enjoy Tahoe. If the weather is nice, we highly encourage getting outside and finding a bit of elevation to take in the picturesque views that have made Tahoe famous for so many years. When it's blowing snow in all directions, a spa day may be just what the doctor ordered.
	    </p>
	  </div>
	  <div class="col-md-4">
	    <div class="maps-container row">
          <img src="https://s3.amazonaws.com/snowschoolers/sledding-swedish-toddlers.jpg" alt="tahoe-map" class="sledding-map">
	    </div>
	  </div>
</div>

<div class="col-md-12">
      <hr>
</div>

<h3>Other Outdoor Activities</h3>
<ul class="guide-lists">
	<li class="white-text">Sledding (FREE!) - check out <a href="https://www.gotahoenorth.com/things/sledding/" class="green-link"> the most popular locations</a></li>
	<li class="white-text">Snowshoeing - rentals available from <a href="#" class="green-link">Tahoe Dave's</a> for just $20/day.</li>
	<li class="white-text">Tubing at <a href="#" class="green-link">Squaw Valley</a> or <a href="#" class="green-link">Granlibakken</a></li>
	<li class="white-text">Cross-country skiing - the <a href="#" class="green-link"> Tahoe City XC Center</a> is our favorite!</li>
	<li class="white-text"><a href="#" class="green-link">Snow Kiting at Royal Gorge</a> (near Sugar Bowl)</li>
	<li class="white-text">Ice Skating - enjoy the new public outdoor rink at the <a href="#" class="green-link">Tahoe City Winter Sports Park</a></li>
</ul>
<h3>Warm & Cozy Things to Do</h3>
<ul class="guide-lists">
	<li class="white-text">Catch a matinee at the <a href="#" class="green-link">MOVIE THEATRE in Tahoe City</a></li>
	<li class="white-text"><a href="#" class="green-link">Shopping in Tahoe City</a></li>
	<li class="white-text">Spa Day - treat yourself at the <a href="#" class="green-link">Northstar village spa</a> or the <a href="#" class="green-link">INSERT NAME</a> at Squaw Valley</li>
</ul>

