<ul>
	<li><a href="#" class="green-link">Sledding (FREE!)</a></li>
	<li><a href="#" class="green-link">Tubing</a></li>
	<li><a href="#" class="green-link">Cross-country skiing</a></li>
	<li><a href="#" class="green-link">Snow Kiting</a></li>
	<li><a href="#" class="green-link">Ice Skating</a></li>
	<li><a href="#" class="green-link">A day at the Spa</a></li>
	<li><a href="#" class="green-link">Shopping in Tahoe City</a></li>
</ul>
