<h2 class="section-heading how-it-works navy-text center">Lift Tickets & Rental Equipment</h2>
<h3 class="center italic">(Skiing is expensive, we know.)</h3>
<h3 class="left"><b></b> Overall, keep in mind that the best way to save money over the <b> long term</b> is to invest in your own equipment, and to become a season pass holder at your favorite resort. When you do so, it becomes reasonable to bring your all-in cost per day on the mountain down to just ~$30 per day. </h3>
<h3 class="left">Since you're probably not there yet, and since you having a <b>lift ticket and equipment</b> are requiremets for any ski trip, here are a few ways to save money (and time).
</h3>

<h3 class="left"><b> Lift Tickets</b> </h3>
<ul class="guide-lists">
	<li><a href="https://www.liftopia.com/region/california-lake-tahoe" class="green-link" target="_blank">Liftopia.com</a> - for the last 10 years Liftopia has been the best place to get discount lift tickets online. Almost every resort in Tahoe can be found on Liftopia, and they offer dynamic pricing, so the earlier you book, the more you save.</li>
	<li><a href="https://shop.sportsbasement.com/pages/stores" class="green-link" target="_blank">Sports Basement</a> with 7 locations in the Bay Area, Sports Basement is a great first stop before any Tahoe Trip. While you can't buy lift tickets online, you can view their <a href="https://s3.amazonaws.com/snowschoolers/sports-basement-prices-16-17.png" class="green-link">prices here</a>, and it sometimes helps to call ahead because sometimes they run out of vouchers for individual resorts.</li>
	<li><a href="https://www.costco.com/ski-lift-vouchers.html" class="green-link" target="_blank">Costco</a> also offers lift vouchers, usually in packages of 2 or 4. Some tickets are now eligible for eDelivery, but even if not, we all know it doesn't hurt to have another excuse to stop by Costco!</li>	
	<li>Lastly, almost every resort today offers lift tickets that can be purchased ahead of time on the resort's website. This usually must be done 24-48 hours in advance, but will still save you ~10% off of the ticket-window price.</li>
</ul>

<h3 class="left"><b> Rental Equipment</b></h2>
<hr>
      <p>Private lessons at Homewood with Snow Schoolers do not include rentals, unless you have chosen to purchase the beginner rental and lift ticket package in addition to your lesson. If you'd like to add that to your reservation, simply email us back at <a href="mailto:support@snowschoolers.com">support@snowschoolers.com and let us know!</p>
      <p>If you just need rentals, we're happy to make some recommendations:</p>
      <ul>
        <li> The cheapest option for rentals is generally in metro areas such as the Bay Area and Sacramento. We are personally big fans of the <a href="https://rentals.sportsbasement.com/rent/ski-rentals/adult-basic-ski-package">Sports Basement</a>, which offers 4-day rentals for $55.</li>
        <li>The next most affordable option is to rent from a retail shops in the Tahoe area. We recommend <a href="https://rentals.tahoedaves.com/">Taheo Dave's</a>, which has five locations in North Tahoe with beginner packages for $32/day. If you want to reserve your gear online, you can enter our <b>promo code "RACK20"</b> to save 20%, and simply bring your email confirmation with you to the store to get fitted.
        <li>Lastly, if you forget to plan ahead, you can always rent equipment from Homewood the morning of your lesson. Pricing is typically a bit more expensive, but you get the convenience of not having to fit skis in your car. Please give yourself at least an extra 30 minutes before your lesson if you are planning to rent from the mountain. </li>
      </ul>	

<h4 class="center"><a href="#TOC" class="btn btn-default">Back to Top</a></h4>

