<div id="react-app">
    <div data-reactroot="" data-reactid="1" data-react-checksum="-2071944311">
        <!-- react-empty: 2 -->
        <article class="bg-snow drive-for-lyft" data-reactid="68">
            <!-- react-empty: 69 -->
            <section data-reactid="70">
                <div class="drive-for-lyft-hero bg-moonstone" data-reactid="71">
                    <div class="pos-r" data-reactid="72">
                        <div class="hero-img bg-cover bg-center bg-bone tall full-width pos-a top-0 left-0" style="background-image:url(https://cdn.lyft.net/brochure/images/drive-growth.e1536747.jpg);" data-reactid="73"></div>
                    </div>
                    <section class="container p-t-xl pos-r" data-reactid="74">
                        <div class="row container-custom-sizing" data-reactid="75">
                            <div class="col-lg-7 flex text-light" data-reactid="76">
                                <div class="align-center text-xs-center text-lg-left" data-reactid="77">
                                    <h1 class="text-book" data-reactid="78">Make Up to $35/hr Driving Your Car</h1>
                                    <!-- react-empty: 79 -->
                                    <!-- react-empty: 80 -->
                                </div>
                            </div>
                            <div class="col-lg-5 col-xs-12 layer-1" data-reactid="81">
                                <form class="bg-white p-a-l radius shadow pos-a-lg left-0" data-reactid="82">
                                    <h2 data-reactid="83">Apply Now</h2>
                                    <p data-reactid="84">Enter your info, and then download the Lyft app to create your driver profile.</p>
                                    <input type="text" id="first_name" name="first_name" class="full-width form-control radius border border-moonstone p-a-s m-b-s" placeholder="First Name" required="" data-reactid="85" />
                                    <input type="text" id="last_name" name="last_name" class="full-width form-control radius border border-moonstone p-a-s m-b-s" placeholder="Last Name" required="" data-reactid="86" />
                                    <input type="email" id="email" name="email" class="full-width form-control radius border border-moonstone p-a-s m-b-s" placeholder="Email address" pattern=".+@.+\..+" required="" data-reactid="87" />
                                    <input type="text" id="region" name="region" class="full-width form-control radius border border-moonstone p-a-s m-b-s" placeholder="City" required="" autocomplete="false" data-reactid="88" />
                                    <input type="tel" id="phone" name="phone" class="full-width form-control radius border border-moonstone p-a-s m-b-s" placeholder="Phone number" required="" value="" data-reactid="89" />
                                    <input type="text" id="code" name="code" class="full-width form-control radius border border-moonstone p-a-s m-b-s" placeholder="Promo/Referral code (optional)" data-reactid="90" />
                                    <div class="lyft-checkbox" data-reactid="91">
                                        <input type="checkbox" id="agreeToTerms" name="agreeToTerms" value="false" required="" class="m-r-s" data-reactid="92" />
                                        <label for="agreeToTerms" data-reactid="93">
                                            <div class="m-b-s text-small" data-reactid="94">I agree to <a href="/terms" target="_blank">Lyft’s terms of service</a></div>
                                        </label>
                                    </div>
                                    <input type="submit" class="btn btn-pink full-width text-uppercase p-y-s border-b-thick border-magenta" value="Become a Driver" data-reactid="95" />
                                    <div class="m-t-m" data-e2e="check-status" data-reactid="96">Already applied? <a href="https://www.lyft.com/drivers/apply/resume">Check the status of your application here.</a></div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <section class="container-fluid bg-magenta" data-reactid="97">
                <!-- react-empty: 98 -->
            </section>
            <section class="container-fluid bg-white" data-reactid="99">
                <!-- react-empty: 100 -->
            </section>
            <section class="container-fluid bg-moonstone" data-reactid="101">
                <section class="container border-b border-moonstone p-y-l" data-reactid="102">
                    <div class="row" data-reactid="103">
                        <div class="col-xs-12" data-reactid="104">
                            <h3 data-reactid="105">See How Much You Can Make</h3>
                            <p data-reactid="106">How many hours do you want to drive this week?</p>
                        </div>
                    </div>
                    <form data-reactid="107">
                        <div class="row gutter-small" data-e2e="earnings-calc" data-reactid="108">
                            <div class="col-xs-4 col-md-2 m-b-s" data-reactid="109">
                                <input type="number" id="hours" name="hours" placeholder="Hours" class="form-control p-a-s radius border-moonstone full" min="1" required="" data-reactid="110" />
                            </div>
                            <div class="col-xs-12 col-md-3 p-l-0-md m-b-s" data-reactid="111">
                                <input type="text" id="estimate-city" name="city" placeholder="City" class="form-control p-a-s radius border-moonstone full" required="" autocomplete="false" data-reactid="112" />
                            </div>
                            <div class="col-xs-5 col-md-2 p-l-0-md m-b-s" data-reactid="113">
                                <input type="submit" value="Calculate" class="btn btn-pink text-uppercase full-width p-y-s" data-reactid="114" />
                            </div>
                        </div>
                    </form>
                </section>
            </section>
            <section class="container-fluid" data-reactid="115">
                <div class="container" data-reactid="116">
                    <div class="row m-t-xl text-xs-center" data-reactid="117">
                        <h3 class="full-width text-thin" data-reactid="118">What is Lyft?</h3>
                        <p data-reactid="119">Lyft matches drivers with passengers who request rides through our smartphone app, and passengers pay automatically through the app.
                            <br/>
                            <br/>Whether you’re trying to offset costs of your car, cover this month’s bills, or fund your dreams, Lyft will get you there. So, go ahead. Be your own boss.</p>
                    </div>
                </div>
            </section>
            <section class="container-fluid m-t-xl" data-reactid="120">
                <div class="container" data-reactid="121">
                    <div class="row" data-reactid="122">
                        <div class="col-xs-12 text-xs-center" data-reactid="123">
                            <h3 class="text-thin" data-reactid="124">Why Lyft?</h3></div>
                    </div>
                    <div class="row" data-reactid="125">
                        <div class="col-xs-12" data-reactid="126">
                            <ul class="list-unstyled text-xs-center m-b-0 row justify-center justify-start-lg" data-reactid="127">
                                <li class="col-md-4" data-reactid="128"><img src="https://cdn.lyft.net/brochure/images/drive-for-lyft-tip.c82c9bd3.svg" alt="Keep your tips" class="icon-l text-bold m-y-m" data-reactid="129" />
                                    <h4 data-reactid="130">Keep Your Tips</h4>
                                    <p data-reactid="131">Earn tips from your passengers and keep the whole amount — they’re yours.</p>
                                </li>
                                <li class="col-md-4" data-reactid="132"><img src="https://cdn.lyft.net/brochure/images/drive-for-lyft-pay.99b21f65.svg" alt="Make more money" class="icon-l text-bold m-y-m" data-reactid="133" />
                                    <h4 data-reactid="134">Make More Money</h4>
                                    <p data-reactid="135">With increased Prime Time pricing during peak hours, you make more with Lyft.</p>
                                </li>
                                <li class="col-md-4" data-reactid="136"><img src="https://cdn.lyft.net/brochure/images/drive-for-lyft-community.f9eb39e3.svg" alt="Best community" class="icon-l text-bold m-y-m" data-reactid="137" />
                                    <h4 data-reactid="138">Best Community</h4>
                                    <p data-reactid="139">The Lyft community is full of awesome, friendly people — passengers and drivers alike.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="m-t-xl" data-reactid="140">
                <div class="how-driving-works overflow-hidden" data-reactid="141">
                    <div class="container-fluid row gutter-small bg-moonstone margin-large m-t-0-xs p-t-0-sm p-t-l-xs" data-reactid="142">
                        <div class="col-xs-1 align-center cursor-pointer text-xs-center previous-how-to" data-reactid="143">
                            <div class="icon-chevron icon-chevron-left icon-chevron-bold icon-chevron-large text-pink" data-reactid="144"></div>
                        </div>
                        <div class="col-xs-10" data-reactid="145">
                            <div class="container" data-reactid="146">
                                <div class="row" data-reactid="147">
                                    <div class="
                                      col-xs-12 col-sm-offset-3 col-sm-8
                                      text-sm-left text-xs-center
                                      align-start-xs align-center-sm
                                  " data-reactid="148">
                                        <h3 class="m-t-m carousel-header" data-reactid="149">How Lyft Driving Works</h3></div>
                                </div>
                                <div class="row" data-reactid="150">
                                    <div class="col-xs-12" data-reactid="151">
                                        <div class="pos-r" data-reactid="152">
                                            <div class="pos-a top-responsive left-0 full-width carousel-active animate-translateX  " data-reactid="153">
                                                <div class="row" data-reactid="154">
                                                    <div class="col-sm-3 col-xs-12" data-reactid="155"><img src="https://cdn.lyft.net/brochure/images/how-lyft-works-driver-mode.d2f63886.png" class="img-fluid img-max center-block" alt="driver-mode" data-reactid="156" /></div>
                                                    <div class="col-sm-9 col-xs-12 text-sm-left text-xs-center align-end-xs align-center-sm" data-reactid="157">
                                                        <p class="margin-description" data-reactid="158">Open the app and turn on driver mode.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pos-a top-responsive left-0 full-width pos-a carousel-inactive carousel-staged-right" data-reactid="159">
                                                <div class="row" data-reactid="160">
                                                    <div class="col-sm-3 col-xs-12" data-reactid="161"><img src="https://cdn.lyft.net/brochure/images/how-lyft-works-accept-ride.0bebad59.png" class="img-fluid img-max center-block" alt="accept-ride" data-reactid="162" /></div>
                                                    <div class="col-sm-9 col-xs-12 text-sm-left text-xs-center align-end-xs align-center-sm" data-reactid="163">
                                                        <p class="margin-description" data-reactid="164">Accept a ride request.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pos-a top-responsive left-0 full-width pos-a carousel-inactive carousel-staged-right" data-reactid="165">
                                                <div class="row" data-reactid="166">
                                                    <div class="col-sm-3 col-xs-12" data-reactid="167"><img src="https://cdn.lyft.net/brochure/images/how-lyft-works-drive-passenger.128d0802.png" class="img-fluid img-max center-block" alt="passenger" data-reactid="168" /></div>
                                                    <div class="col-sm-9 col-xs-12 text-sm-left text-xs-center align-end-xs align-center-sm" data-reactid="169">
                                                        <p class="margin-description" data-reactid="170">Pick up your passenger.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pos-a top-responsive left-0 full-width pos-a carousel-inactive carousel-staged-left" data-reactid="171">
                                                <div class="row" data-reactid="172">
                                                    <div class="col-sm-3 col-xs-12" data-reactid="173"><img src="https://cdn.lyft.net/brochure/images/how-lyft-works-rate.a0afef5c.png" class="img-fluid img-max center-block" alt="finish-ride" data-reactid="174" /></div>
                                                    <div class="col-sm-9 col-xs-12 text-sm-left text-xs-center align-end-xs align-center-sm" data-reactid="175">
                                                        <p class="margin-description" data-reactid="176">Once the ride ends, the app processes pay from the passenger’s saved credit card.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-1 align-center cursor-pointer text-xs-center next-how-to" data-reactid="177">
                            <div class="
                            icon-chevron icon-chevron-right icon-chevron-bold icon-chevron-large
                            text-pink
                          " data-reactid="178"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container-fluid" data-reactid="179">
                <div class="container" data-reactid="180">
                    <div class="horizontal-card" data-reactid="181">
                        <div class="row p-t-xl" data-e2e="insurance-benefit" data-reactid="182">
                            <div class="col-xs-12 col-md-3 col-md-offset-1" data-reactid="183"><img src="https://cdn.lyft.net/brochure/images/drive-for-lyft-shield.07703856.svg" class="icon-dwl center-block m-y-m" data-reactid="184" /></div>
                            <div class="col-xs-12 col-md-7" data-reactid="185">
                                <h3 class="text-thin text-xs-center text-md-left" data-reactid="186">Lyft Insurance Protection</h3>
                                <p data-reactid="187">Lyft provides additional insurance policies, at no cost to the driver. We worked with leading insurance carriers to provide various coverages including: commercial auto liability insurance up to $1M per occurrence, contingent collision insurance for drivers who carry collision coverage on their personal auto policy, and coverage for bodily injury caused by uninsured/underinsured motorists when you are engaged in a ride. If you already carry commercial insurance or personal coverage providing specific coverage for ridesharing, Lyft’s policy will continue to be excess to your insurance coverage. Please note, the above coverage may be modified to comply with local regulations or state laws. Lyft’s policy is not available in New York State at this time. <a href="/safety">Get information about our insurance policies.</a></p>
                            </div>
                        </div>
                        <div class="row p-t-xl" data-e2e="ratings-benefit" data-reactid="188">
                            <div class="col-xs-12 col-md-3 col-md-offset-1" data-reactid="189"><img src="https://cdn.lyft.net/brochure/images/drive-for-lyft-five-stars.dbae5da0.svg" class="icon-dwl center-block m-y-m" data-reactid="190" /></div>
                            <div class="col-xs-12 col-md-7" data-reactid="191">
                                <h3 class="text-thin text-xs-center text-md-left" data-reactid="192">Passenger Ratings</h3>
                                <p data-reactid="193">Drivers rate passengers after each ride, so you’ve always got a say. We also require passengers to provide valid credit card information for identity verification purposes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container-fluid" data-reactid="194">
                <div class="container m-t-l p-a-xl border border-charcoal" data-reactid="195">
                    <div data-reactid="196">
                        <h2 class="text-xs-center" data-reactid="197">Frequently Asked Questions</h2>
                        <ul class="list-unstyled p-y-l" data-reactid="198">
                            <li data-e2e="faq-existing-job" data-reactid="199">
                                <p class="text-bold" data-reactid="200">I already have a job, so can I just drive a few hours in my off-time?</p>
                                <p class="p-l-l" data-reactid="201">Absolutely. You choose when you drive. Some drivers make more than $800 just driving Friday nights and weekends.</p>
                            </li>
                            <li data-e2e="faq-get-paid" data-reactid="202">
                                <p class="text-bold" data-reactid="203">How do I get paid?</p>
                                <p class="p-l-l" data-reactid="204">Drivers get a portion of ride fees from passengers. Money is deposited into your account each week automatically, or you can cash out instantly with Express Pay.</p>
                            </li>
                            <li data-e2e="faq-is-safe" data-reactid="205">
                                <p class="text-bold" data-reactid="206">Is Lyft safe?</p>
                                <p class="p-l-l" data-reactid="207">Our community’s safety is our top priority. We run extensive background checks on drivers, provide up to $1M commercial automobile liability policy, and designed numerous safety features into our app. Passengers must provide a valid credit card and phone number for identity verification purposes. Drivers and passengers also rate each other at the end of a ride, so that we’re always upholding our high community standards.</p>
                            </li>
                            <li data-e2e="faq-requirements" data-reactid="208">
                                <p class="text-bold" data-reactid="209">What are Lyft’s requirements?</p>
                                <p class="p-l-l" data-reactid="210">You must be at least 21 and own an iPhone or Android phone. As part of our approval process, you’ll undergo a DMV check, plus a national and county background check. This will require a Social Security number, in addition to an in-state driver’s license that is at least a year old. Learn more about our background check standards on our <a href="/safety">Safety page</a>, and our comprehensive driver requirements in the <a href="http://lft.to/9F7DBC1" target="_self">Help Center</a>.
                                    <br/>
                                    <br/>Your car needs to have four external door handles and at least five total seat belts. You must be a covered party on your car’s in-state insurance, and have in-state license plates. We’ll confirm all of this during your 19-point vehicle inspection. Cars have Lyft age requirements too, which can vary by state. See your <a href="http://lft.to/1M81YGq" target="_self">state-specific requirements</a>. </p>
                                </p>
                            </li>
                        </ul>
                        <p class="text-xs-center m-b-0" data-reactid="211"><a href="https://help.lyft.com" data-reactid="212">See more commonly asked questions</a></p>
                    </div>
                </div>
            </section>
            <section data-reactid="213">
                <div class="container p-y-xl" data-reactid="214">
                    <div class="row" data-reactid="215"><a class="btn btn-pink text-uppercase p-y-s center-block" data-tracking-value="Apply Now (Page Bottom)" data-reactid="216">Apply Now</a></div>
                </div>
            </section>
        </article>
        <!-- react-empty: 294 -->
    </div>
</div>
