    <section id="recruiting-landing-page" class="top-section">
        <ul id="slider">
            <li>
                <img src="/assets/demo/slider/happy.jpg" class="bg-photo" alt="" />
            </li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 white-transparent-bg">
                    <div class="col-md-12 padding-top">
                        <h1 class="center navy-text"> Apply Today</h1>
                    </div>
                    <%= render partial: 'instructors/form' %>
                </div>
                <div id="recruiting-cta" class="col-md-6 col-xs-12 black-transparent-bg">
                    <h1 class="center white-text"> Transform your passion into a profession and you'll never have to "work" again.</h2>
                    <img src="/assets/tahoe-ski-bum.jpeg" class="ski-bum-photo" alt="ski-bum-photo">
                    <h2 class="recruiting-ctas center white-text"> Ski More - across any mountain.</h2>
                    <h2 class="recruiting-ctas center white-text"> Earn More - $25+ per hour.</h2>
                    <h2 class="recruiting-ctas center white-text"> Learn More - train with Tahoe's best.</h2>
                    <div id="spacer"></div>
                    <img src="/assets/Working-on-a-Mountain.png" class="ski-bum-photo" alt="ski-bum-photo">
                    <h2 class="recruiting-ctas center white-text"> #workingFromHome</h2>
                </div>
            </div>
        </div>
    </section>

<section id="weekend-warrior-comparison">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">You love to ski. But do you love paying for it?</h1>
                </div>
            </div>
            <div class="row navy-bg">
                <div class="col-md-6">
                    <h2 class="center white-text"><b> Will </b> is a weekend warrior </span></h2>
                    <img src="/assets/will-weekend-bro.jpg" class="ski-bum-photo" alt="weekend-warrior">
                    <h2 class="center white-text">He'll spend $1600 skiing this winter:</h2>
                    <ul class="ski-expenses">
                        <li>Ski Lease: ($1,050.00)</li>
                        <li>Season pass: ($550.00) </li>
                    </ul>
                    <h2 class="white-transparent-bg expenses-total red bold">Total: ($1,600.00) </h2>
                </div>
                <div class="col-md-6">
                    <h2 class="center  white-text"><b> Sam </b> is with <b> Snow Schoolers </b></h2>
                    <img src="/assets/sam-Milli-Simpson-Altitude-Verbier.jpg" class="ski-bum-photo" alt="sam-snow-schoolers">
                    <h2 class="center white-text">She'll EARN $250 this winter:</h2>
                    <ul class="ski-expenses">
                        <li>Ski Lease: ($1,050.00)</li>
                        <li>Season pass: FREE </li>
                        <li>All-day private lessons (4): +$960.00 </li>
                        <li>2hr morning privates (4): +$340.00 </li>
                    </ul>
                    <h2 class="white-transparent-bg expenses-total green bold">Total: +$250.00 </h2>
                </div>
            </div>
        </div>
 </section>
<section class="navy-bg small">
        <div class="container text-center">
            <div class="call-to-action">
                <h1 class="white-text">What exactly is Snow Schoolers?</h1>
                <h3 class="white-text">
                     Snow Schoolers is the first marketplace for private ski & snowboard lessons. We not only offer affordable and easy to book private lessons for students, we provide flexibility and entrepreneurial opportunity for instructors, and enable our resort partners to attract valuable new customers.
                </h3>
                   <a href="/index#how-it-works" class="btn btn-primary btn-xl page-scroll">Learn More</a>
            </div>
        </div>
</section>
 <section id="how-it-works">
        <div class="container">
            <div class="row how-it-works">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works">Why Snow Schoolers</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center why-ss">
                    <div class="flexibility-box">
                        <h3>Schedule Flexibility</h3>
                        <img src="assets/calendar.png" alt="calendar" class="why-snow-schoolers">
                        <p class="navy-text">Set your own schedule. <br> Accept or decline incoming lesson requests instantly from your phone.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center why-ss">
                    <div class="earnings-box">
                        <h3>Earn More</h3>
                        <img src="assets/referrals.png" alt="referrals" class="why-snow-schoolers">
                        <p class="navy-text">Easily share your profile's custom URL with clients who can book you directly. Promote and grow your reputation online.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center why-ss">
                    <div class="earnings-box">
                        <h3>Learn More</h3>
                        <img src="assets/PSIA-AASI_Logos.jpg" alt="psia-aasi" class="why-snow-schoolers">
                        <p class="navy-text">Develop your teaching skills with on-mountain clinics from Tahoe's finest. Get reimbursed for successfully passing PSIA & AASI exams.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="navy-bg small">
        <div class="container text-center">
            <div class="call-to-action">
                   <a href="/apply" class="btn btn-primary btn-xl page-scroll">Apply Now</a>
                   <h4 class="white-text">
                    Questions or inquiries? Email us at <a href="mailto:info@snowschoolers.com">info@snowschoolers.com</a>
                   </h4>

            </div>
        </div>
</section>
