    <section id="recruiting-landing-page" class="top-section">
        <ul id="slider">
            <li>
                <img src="/assets/demo/slider/happy.jpg" class="bg-photo" alt="" />
            </li>
        </ul>
        <div class="row">
            <div class="col-md-6 col-xs-12 white-transparent-bg">
                <div class="col-md-6 col-md-offset-3">
                    <h1 class="center navy-text"> Apply Today</h1>
                </div>
                <%= render partial: 'instructors/form' %>
            </div>
            <div class="col-md-6 col-xs-12">
                <h1 class="center white black-transparent-bg"> Ski for Free this Winter!</h1>
                <h2 class="center white black-transparent-bg"> and Earn $25+ per hour</h2>
            </div>
        </div>
    </section>
