<% title 'Apply Today' %>
<% meta_tag :description, "Snow Schoolers instructors get 100% schedule flexibility, higher average earnings and tips, and access to modern client communication tools that allow you to cultivate a loyal following of clients." %>

    <section id="recruiting-landing-page" class="top-section">
        <ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
            <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3-us-west-1.amazonaws.com/snowsports/backcountry-jackson-hole-hero.jpg'); height: 100%; width: 100%;" data-href=""    
            </div>
        </ul>        
        <div class="container">
            <div class="row white-transparent-bg">
                <h1 class="center ">North American Association of Snowsports Professionals</h1>
                <h2 class="center bold recruiting-sub-header">Teach a class. Get a pass.</h2>
                <h2 class="center italic">Our certified instructors ski anywhere in the world, for free.</h2>
                <h3 class="hidden-unless-desktop">
                    The North American Association of Snowsports Professionals is a select network of professional ski and snowboard instructors. Our members enjoy the best perks of being a full-time instructor without the full-time commitment. Our model is simple: for every lesson you teach at a partner resort, you receive one free lift pass to that mountain. No blackout days, no restrictions.
                </h3>
            </div>
            <div class="buffer" > </div>
            <div class="row">
                <div class="form-container col-md-6 col-xs-12 white-transparent-bg">                    

                    <div class="hidden-unless-mobile">

                        <div id="recruiting-Carousel" class="carousel slide" data-ride="carousel">

                          <!-- Indicators -->
                          <!-- <ol class="carousel-indicators">
                            <li data-target="#recruiting-Carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#recruiting-Carousel" data-slide-to="1"></li>
                            <li data-target="#recruiting-Carousel" data-slide-to="2"></li>
                          </ol> -->
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner black-transparent-bg" role="listbox">
                            <div class="item active">
                              <h1 class="white-text center">Set your own schedule. </h1>
                            </div>

                            <div class="item">
                              <h1 class="white-text center">Earn up to $25 per hour.</h1>
                            </div>

                            <div class="item">
                              <h1 class="white-text center">
                                Teach anywhere in the word.
                              </h1>
                            </div>

                          </div>

                        </div>                        

                    </div>
                    <div class="col-md-12">
                        <h2 class="center bold black-text hidden-unless-desktop"> APPLY TODAY </h2>                        
                        <%= render partial: 'instructors/form' %>
                    </div>
                </div>
                <div id="recruiting-learn-more" class="form-container col-md-6 col-xs-12 black-transparent-bg">
                    <!-- <img src="https://s3.amazonaws.com/snowschoolers/images/tahoe-ski-bum.png" class="ski-bum-photo" alt="ski-bum-photo"> -->
                    <hr>
                    <h2 class="recruiting-ctas center white-text"> No full-season commitments. </h2>
                    <h2 class="recruiting-ctas center white-text"> Teach when you want. </h2>
                    <h2 class="recruiting-ctas center white-text"> Earn what you need. </h2>
                    <h2 class="recruiting-ctas center white-text"> Ski anywhere in the world.</h2>
                    <div id="spacer"></div>
                    <!-- <hr> -->
                    <!-- <h1 class="white-text center bold"> How it works </h1> -->
                    <p class="hidden-unless-mobile white-text">
                    Our select network of professional ski and snowboard instructors enjoys the best perks of being a full-time instructor without the full-time commitment. The model is simple: for every lesson you teach on a weekend or holiday, you receive one free lift pass to that mountain. No blackout days, no restrictions.
                    </p>
                    <hr>
                    <img src="https://s3-us-west-1.amazonaws.com/snowsports/ski-lesson-euro.jpg" class="ski-bum-photo" alt="ski-bum-photo">
                    <hr>
                    <img src="https://s3-us-west-1.amazonaws.com/snowsports/winter-is-coming-fixed.png" class="ski-bum-photo" alt="ski-bum-photo">
                    <hr>
                    <h4 class="white-text center"></h4>
                </div>
            </div>
        </div>
    </section>

<!-- <section id="weekend-warrior-comparison">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">You love to ski. But do you love paying for it?</h1>
                </div>
            </div>
            <div class="row navy-bg">
                <div class="col-md-6">
                    <h2 class="padding-top center white-text comparison-header"><b> Will </b> is a weekend warrior </span></h2>
                    <img src="https://s3.amazonaws.com/snowschoolers/images/will-weekend-bro.jpg" class="ski-bum-photo" alt="weekend-warrior">
                    <h2 class="center white-text comparison-subheading">He'll spend $1600 on ski trips:</h2>
                    <ul class="ski-expenses">
                        <li>Lodging, food & gas: ($1,050)</li>
                        <li>Season pass: ($550) </li>
                    </ul>
                    <h2 class="white-transparent-bg expenses-total red bold">Total: ($1,600) </h2>
                </div>
                <div class="hidden-unless-mobile col-md-12">
                    <hr>
                </div>
                <div class="col-md-6">
                    <h2 class="padding-top center white-text comparison-header"><b> Sam </b> is with <b> Snow Schoolers </b></h2>
                    <img src="https://s3.amazonaws.com/snowschoolers/images/sam-Milli-Simpson-Altitude-Verbier.jpg" class="ski-bum-photo" alt="sam-snow-schoolers">
                    <h2 class="center white-text comparison-subheading">She'll EARN $500 this winter:</h2>
                    <ul class="ski-expenses">
                        <li>Lodging, food & gas: ($1,050)</li>
                        <li>Season pass: FREE </li>
                        <li>All-day private lessons (5): +1,000 </li>
                        <li>3hr half-day privates (4): +440 </li>
                        <li>1hr early-bird privates (3): +110 </li>
                    </ul>
                    <h2 class="white-transparent-bg expenses-total green bold">Total: +$500 </h2>
                </div>
            </div>
        </div>
 </section> -->
<!-- <script src="//load.sumome.com/" data-sumo-site-id="a1fbda8d7365cdee08d4a5985659bb680581b2dd4281ce27f0f246ffaa655693" async="async"></script> -->
