<div class="container">
<%= render 'welcome/resorts' %>

<!-- RESORT #1 - HOMEWOOD -->
<div class="resort-listing" id="homewood">	
	<h2 class="center how-it-works navy-text">Homewood Mountain Resort</h1>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/Jan13-theface-powder.jpg" alt="homewood" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> The only ski area on the west shore of Tahoe, Homewood has the hands-down best views of the lake, and with a top-to-bottom beginner run, the view can be enjoyed by skiers of any ability. With beginner packages including a ticket, rental, and lesson that start at just $59 per day, it's also the most budget-friendly place to learn how to ski.
	</h3>
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Avg. Lift Lines:</h4>
			<h4>Ammentities:</h4>
		</div>
		<div class="col-md-9">
			<h4>1,260 acres</h4>
			<h4>4</h4>
			<h4>1,650ft</h4>
			<h4>7,880ft</h4>
			<h4>450</h4>
			<h4>Negligible</h4>
			<h4>Minimal - basic restaurant & lodge with patio seating.</h4>
		</div>
	</div>

</div>

<!-- RESORT #2 - ALPINE -->
<div class="resort-listing" id="alpine-meadows">	
	<h2 class="center how-it-works navy-text">Alpine Meadows</h1>
	<div class="resort-photo-container">
		<img src="" alt="homewood" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> While lesser known than its sister-mountain Squaw Valley, Alpine is a favorite among locals, known for its relaxed atmosphere and variety of beginner to expert terrain. Since much of Alpine's best lines are only accessible via short 5-15 minute hikes, most causal skiers stay away, leaving plenty of fresh stashes for those who know where to look. On your last run of the day, relax with a beer in one of the many dozens of adirondack chairs surrounding the open fire pits on the deck.
	</h3>
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Avg. Lift Lines:</h4>
			<h4>Ammentities:</h4>
		</div>
		<div class="col-md-9">
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>3-5 min</h4>
			<h4>Modest - one large restaurant & lodge with two full service bars and tons of patio seating.</h4>
		</div>
	</div>

</div>

<!-- RESORT #1 - KIRKWOOD -->
<div class="resort-listing" id="kirkwood">	
	<h2 class="center how-it-works navy-text">Kirkwood</h1>
	<div class="resort-photo-container">
		<img src="" alt="Kirkwood" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> While lesser known than its sister-mountain Squaw Valley, Alpine is a favorite among locals, known for its relaxed atmosphere and variety of beginner to expert terrain. Since much of Alpine's best lines are only accessible via short 5-15 minute hikes, most causal skiers stay away, leaving plenty of fresh stashes for those who know where to look. On your last run of the day, relax with a beer in one of the many dozens of adirondack chairs surrounding the open fire pits on the deck.
	</h3>
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Avg. Lift Lines:</h4>
			<h4>Ammentities:</h4>
		</div>
		<div class="col-md-9">
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>3-5 min</h4>
			<h4>Modest - one large restaurant & lodge with two full service bars and tons of patio seating.</h4>
		</div>
	</div>

</div>

<div class="buffer"></div>

</div>