<div class="container">
<%= render 'welcome/resorts' %>

<!-- RESORT #1 - HOMEWOOD -->
<div class="resort-listing" id="homewood">	
	<h2 class="center how-it-works navy-text">#1 - Homewood Mountain Resort</h1>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/Jan13-theface-powder.jpg" alt="homewood" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> The only ski area on the west shore of Tahoe, Homewood has the hands-down best views of the lake, and with a top-to-bottom beginner run, the view can be enjoyed by skiers of any ability. With beginner packages including a ticket, rental, and lesson that start at just $59 per day, it's also the most budget-friendly place to learn how to ski.
	</h3>
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9">
			<h4>1,260 acres</h4>
			<h4>4</h4>
			<h4>1,650ft</h4>
			<h4>7,880ft</h4>
			<h4>450</h4>
			<h4>$79</h4>
			<h4 class="italic">For the extreme skiers and riders out there, Homewood recently opened up 600+ acres of additional terrain, accessible to expert skiers with proper backcountry equipment, and to those willing to splurge on a snowcat tour for $300 per person.</h4>
		</div>
	</div>

</div>

<hr class="deposit-hr-navy">

<!-- RESORT #2 - KIRKWOOD -->
<div class="resort-listing" id="kirkwood">	
	<h2 class="center how-it-works navy-text">#2 - Kirkwood</h1>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/kirkwood-jan25.jpg" alt="Kirkwood" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> Arguably the most remote and hardest resort in Tahoe to get to (one-lane windy road on the avalanche-prone SR-88), it’s 100% worth it if you can get there. With no shortage of expert chutes and cliff drops, from “the wall” to The Cirque, Kirkwood has plenty to keep the adrenaline going. With a peak elevation nearing 10,000 feet and the highest average snowfall in Tahoe at 500”, it deserves to be on every Tahoe skier’s bucket list. 
	</h3>
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9">
			<h4>2,300	</h4>
			<h4>15	</h4>
			<h4>2,000	</h4>
			<h4>9,800	</h4>
			<h4>500"	</h4>
			<h4>$107</h4>
			<h4 class="italic">Fun fact: up until 2014, Kirkwood and its surrounding community remained literally "off the grid" and relied exclusively on large generators to provide power to the mountain. As such, there aren't many housing accommodations outside of the village area, unless you go all the way to South Lake Tahoe, which is about 45 minutes away.</h4>
		</div>
	</div>

</div>

<hr class="deposit-hr-navy">

<!-- RESORT #3 - ALPINE -->
<div class="resort-listing" id="alpine-meadows">	
	<h2 class="center how-it-works navy-text">#3 - Alpine Meadows</h1>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/alpine-meadows-jan25.jpeg" alt="alpine" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> While lesser known than its sister-mountain Squaw Valley, Alpine is a favorite among locals, known for its relaxed atmosphere and variety of beginner to expert terrain. On your last run of the day, you can choose to wind down with a beer at the mid-mountain Chalete bar or down at the base area in one of the many dozens of adirondack chairs surrounding the open fire pits on the deck.
	</h3>
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9">
			<h4>2,400	</h4>
			<h4>13	</h4>
			<h4>1,802	</h4>
			<h4>8,637	</h4>
			<h4>495"	</h4>
			<h4>$159</h4>
			<h4 class="italic">Alpine is known among locals as having the best hikeable terrain in Tahoe. Within usually less than 15 minutes of hiking, expert skiers can access countless bowls with days-old powder that the casual weekend skier is unwillingly to explore.</h4>
		</div>
	</div>
	
	<hr class="deposit-hr-navy">

</div>

<!-- RESORT #4 - SQUAW -->
<div class="resort-listing" id="alpine-meadows">	
	<h2 class="center how-it-works navy-text">#4 - Squaw Valley</h1>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/squaw-kt.jpg" alt="squaw" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> If you are looking for the most extreme, challenging, and diverse terrain in Tahoe, you'll find it at Squaw. Famous for hosting the winter Olympics back in 1960, Squaw has steadily developed into arguably Tahoe's biggest mega-resort, with nearly 30 lifts across six unique mountain peaks, and a base village area complete with a full array of luxury accomodations, restaurants and retail. The only downside? Crowds. As its popularity as swelled, so has the average lift line wait, which can run upwards of 20-25 minutes on Saturdays and throughout holiday weekends.
	</h3>
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9">
			<h4>3,600	</h4>
			<h4>29	</h4>
			<h4>2,850	</h4>
			<h4>9,050	</h4>
			<h4>450"	</h4>
			<h4>$159</h4>
			<h4 class="italic">Unofficially the most popular chairlift in all of Tahoe is likely the KT-22, named after the 22 kick-turns that it took Sandy Poulsen to reach the bottom in 1948. Rising nearly 2,000 vertical feet from the base of the village, its most famous feature is the "fingers", a set of 50-100ft cliff drops conveniently located right under the chairlift for prime viewing. </h4>
		</div>
	</div>
	
	<hr class="deposit-hr-navy">

</div>

<!-- RESORT #5 - SUGAR BOWL -->
<div class="resort-listing" id="alpine-meadows">	
	<h2 class="center how-it-works navy-text">#5 - Sugar Bowl</h1>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/other-resorts/sugar_bowl.jpeg" alt="sugar bowl" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> The closest resort to the Bay Area, Sugar Bowl is just a few miles west of Donner Pass on I-80, which means day-trips from San Francisco can be done in usually 3 hours or less. Its location and elevation also ensures above-average snowfall, and has plenty of terrain for all abilities. Founded in 1939, it is also one of the oldest ski areas in the country.
	</h3>
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9">
			<h4>1,650	</h4>
			<h4>13	</h4>
			<h4>1,500	</h4>
			<h4>8,282	</h4>
			<h4>500"	</h4>
			<h4>$109</h4>
			<h4 class="italic">Off the backside of Mt. Judah, expert skiers with proper equipment can access nearly infinite acreage of backcountry terrain, all of which leads down to the Donner Lake area. For just $45, skiers can purchase an "Up and Out" lift ticket that allows two lift rides to the top. Sure beats hiking over 2,000 feet!</h4>
		</div>
	</div>
	
	<hr class="deposit-hr-navy">

</div>

<!-- RESORT #6 - HEAVENLY -->
<div class="resort-listing" id="alpine-meadows">	
	<h2 class="center how-it-works navy-text">#6 - </h1>
	<div class="resort-photo-container">
		<img src="" alt=" " class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> 
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9">
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>"	</h4>
			<h4>$</h4>
			<h4 class="italic"></h4>
		</div>
	</div>
	
	<hr class="deposit-hr-navy">

</div>

<!-- RESORT #7 - NORTHSTAR -->
<div class="resort-listing" id="alpine-meadows">	
	<h2 class="center how-it-works navy-text">#6 - </h1>
	<div class="resort-photo-container">
		<img src="" alt=" " class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> 
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9">
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>"	</h4>
			<h4>$</h4>
			<h4 class="italic"></h4>
		</div>
	</div>
	
	<hr class="deposit-hr-navy">

</div>

<!-- RESORT #8 - Mt. Rose -->
<div class="resort-listing" id="alpine-meadows">	
	<h2 class="center how-it-works navy-text">#6 - </h1>
	<div class="resort-photo-container">
		<img src="" alt=" " class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> 
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9">
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>"	</h4>
			<h4>$</h4>
			<h4 class="italic"></h4>
		</div>
	</div>
	
	<hr class="deposit-hr-navy">

</div>

<!-- RESORT #9 - SIERRA AT TAHOE -->
<div class="resort-listing" id="alpine-meadows">	
	<h2 class="center how-it-works navy-text">#6 - </h1>
	<div class="resort-photo-container">
		<img src="" alt=" " class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> 
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9">
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>"	</h4>
			<h4>$</h4>
			<h4 class="italic"></h4>
		</div>
	</div>
	
	<hr class="deposit-hr-navy">

</div>

<!-- RESORT #10 - BOREAL -->
<div class="resort-listing" id="alpine-meadows">	
	<h2 class="center how-it-works navy-text">#6 - </h1>
	<div class="resort-photo-container">
		<img src="" alt=" " class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> 
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9">
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>"	</h4>
			<h4>$</h4>
			<h4 class="italic"></h4>
		</div>
	</div>
	
	<hr class="deposit-hr-navy">

</div>

<!-- RESORT #1 - DIAMOND PEAK -->
<div class="resort-listing" id="alpine-meadows">	
	<h2 class="center how-it-works navy-text">#6 - </h1>
	<div class="resort-photo-container">
		<img src="" alt=" " class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> 
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9">
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>"	</h4>
			<h4>$</h4>
			<h4 class="italic"></h4>
		</div>
	</div>
	
	<hr class="deposit-hr-navy">

</div>

<!-- RESORT #12 - TAHOE DONNER -->
<div class="resort-listing" id="alpine-meadows">	
	<h2 class="center how-it-works navy-text">#6 - </h1>
	<div class="resort-photo-container">
		<img src="" alt=" " class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> 
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9">
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>"	</h4>
			<h4>$</h4>
			<h4 class="italic"></h4>
		</div>
	</div>
	
	<hr class="deposit-hr-navy">

</div>

<!-- RESORT #13 - SODA SPRiNGS -->
<div class="resort-listing" id="alpine-meadows">	
	<h2 class="center how-it-works navy-text">#6 - </h1>
	<div class="resort-photo-container">
		<img src="" alt=" " class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> 
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9">
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>"	</h4>
			<h4>$</h4>
			<h4 class="italic"></h4>
		</div>
	</div>
	
	<hr class="deposit-hr-navy">

</div>

<!-- RESORT #14 - DONNER SKI RANCH -->
<div class="resort-listing" id="alpine-meadows">	
	<h2 class="center how-it-works navy-text">#6 - </h1>
	<div class="resort-photo-container">
		<img src="" alt=" " class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> 
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9">
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>"	</h4>
			<h4>$</h4>
			<h4 class="italic"></h4>
		</div>
	</div>
	
	<hr class="deposit-hr-navy">

</div>

<!-- RESORT #15 - DONNER SKI RANCH -->
<div class="resort-listing" id="alpine-meadows">	
	<h2 class="center how-it-works navy-text">#6 - </h1>
	<div class="resort-photo-container">
		<img src="" alt=" " class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> 
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9">
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>"	</h4>
			<h4>$</h4>
			<h4 class="italic"></h4>
		</div>
	</div>
	
	<hr class="deposit-hr-navy">

</div>

<!-- RESORT #15 - GRANLIENAKKEN -->
<div class="resort-listing" id="alpine-meadows">	
	<h2 class="center how-it-works navy-text">#6 - </h1>
	<div class="resort-photo-container">
		<img src="" alt=" " class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> 
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation:</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Weekend Lift Ticket Price:</h4>
			<h4>Anything else?</h4>
		</div>
		<div class="col-md-9">
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>	</h4>
			<h4>"	</h4>
			<h4>$</h4>
			<h4 class="italic"></h4>
		</div>
	</div>
	
	<hr class="deposit-hr-navy">

</div>

<div class="buffer"></div>

</div>