<div class="container">
<h3 class="left navy-text">Tahoe has been a world-renowned skiing destination since the early 1900s, and boasts 14 resorts within 35 miles of the lake. Each mountain has its own unique atmosphere and terrain, with price points varying from the budget-friendly to 5-star luxury. Below you'll find our unscientific ranking of each resort, and if you visit our <a href="/resorts" class="green-link"> resorts page</a>, you'll find additional details for each ski area.</h3>
<img src="https://s3.amazonaws.com/snowschoolers/skitahoe_map.jpg" alt="tahoe-map" class="tahoe-map">
<ol class="guide-lists">
	<li><a href="#" class="black-link">Homewood </a></li>
	<li><a href="#" class="black-link">Alpine Meadows </a></li>
	<li><a href="#" class="black-link">Kirkwood </a></li>
	<li><a href="#" class="black-link">Squaw Valley </a></li>
	<li><a href="#" class="black-link">Sugar Bowl </a></li>
	<li><a href="#" class="black-link">Heavenly </a></li>
	<li><a href="#" class="black-link">Northstar </a></li>
	<li><a href="#" class="black-link">Mt. Rose </a></li>
	<li><a href="#" class="black-link">Sierra at Tahoe </a></li>
	<li><a href="#" class="black-link">Boreal </a></li>
	<li><a href="#" class="black-link">Diamond Peak </a></li>
	<li><a href="#" class="black-link">Tahoe Donner </a></li>
	<li><a href="#" class="black-link">Soda Springs </a></li>
	<li><a href="#" class="black-link">Donner Ski Ranch </a></li>
	<li><a href="#" class="black-link">Granlibakken </a></li>
	<li><a href="#" class="black-link">Sky Tavern </a></li>
</ol>
<hr>

<div class="resort-listing" id="homewood">	
	<h2 class="center how-it-works navy-text">Homewood Mountain Resort</h1>
	<div class="resort-photo-container">
		<img src="https://s3.amazonaws.com/snowschoolers/Jan13-theface-powder.jpg" alt="homewood" class="resort-photo">
	</div>

	<h3>
		<b>Summary:</b> The only ski area on the west shore of Tahoe, Homewood has the hands-down best views of the lake, and with a top-to-bottom beginner run, the view can be enjoyed by skiers of any ability. With beginner packages including a ticket, rental, and lesson that start at just $59 per day, it's also the most budget-friendly place to learn how to ski.
	</h3>
	<div class="row">
		<div class="col-md-3">
			<h4>Skiable acres:</h4>
			<h4>Number of Lifts:</h4>
			<h4>Vertical Feet: </h4>
			<h4>Peak Elevation: 7,880 feet</h4>
			<h4>Avg. Annual Snowfall:</h4>
			<h4>Avg. Lift Lines:</h4>
			<h4>Ammentities:</h4>
		</div>
		<div class="col-md-9">
			<h4>1,260 acres</h4>
			<h4>4</h4>
			<h4>1,650ft</h4>
			<h4>7,880ft</h4>
			<h4>450</h4>
			<h4>Negligible</h4>
			<h4>Minimal - basic restaurant & lodge with patio seating.</h4>
		</div>
	</div>

</div>

<div class="buffer"></div>

</div>