// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.buffer {
  min-height: 100px;
}
.content-area p {
  font-size: 16px !important;
  font-family: verdana, arial, helvetica, sans-serif !important;
}
.content-area p img {
  padding-left:10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
