/*// Place all the styles related to the Instructors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

.buffer{
  min-height:50px;
  position: relative;
  clear: both;
}
.white-transparent-bg{
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
}
.black-transparent-bg{
  background: rgba(0, 0, 0, 0.3);
}
.navy-text{
  color: #3b5998;
}
.white{ color: #fff; }
