/*// Place all the styles related to the Instructors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

#recruiting-landing-page{
  padding-top:20px;
}
.buffer{
  min-height:50px;
  position: relative;
  clear: both;
}
.white-transparent-bg{
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
}
.black-transparent-bg{
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}
.why-ss{
  border-radius: 0.5rem;
  border: 1px solid #3b5998;
}
.navy-bg{
  background: rgba(59,89,152, 0.9);
  border-radius: 0.5rem;
  padding-bottom: 20px;
}
.navy-text{
  color: #3b5998;
}
.white-text{ color: #fff; }
.padding-top{
  padding-top: 20px;
}
.vertical-padding{
  padding-top: 10px;
  padding-bottom: 10px;
}
.ski-bum-photo{
  margin: 0 auto;
  display: block;
  max-height: 55vh;
  max-width: 95%;

}
.recruiting-ctas{
  margin: 0 0 0 0px;
}
#weekend-warrior-comparison{
  background-color: #fff;
}
.ski-expenses li{
  font-size: 2em;
  line-height: 1.5;
  color: #fff;
}
.expenses-total{
  max-width: 50%;
  text-align: center;
  display:block;
  margin: 0 auto;
}
.bold{
  font-style: bold;
}
.red{
  color: red;
}
.green {
  color: green;
}
.why-snow-schoolers{
  max-width: 100%;
  height: 150px;
}

.btn-apply{
    color: white;
    background-color: #3b5998;
}

/*DESKTOP ONLY ADJUSTMENTS*/
@media (min-width: 768px) {
.ski-expenses{
    left: 25px;
    position: relative;
}
.hidden-unless-mobile{
  display: none;
  margin-top: 20px;
}
}
/*MOBILE ADJUSTMENTS*/
@media (max-width: 768px) {

.hidden-unless-desktop{
  display: none;
}
.recruiting-ctas {
  font-size: 1.8em;
}
h2 {
  font-size: 1.8em;
}
.comparison-header{
  font-size: 1.8em;
  }
.comparison-subheading{
  font-size: 1.6em;
  margin-bottom: 5px;
}
.ski-expenses li {
  font-size: 1.5em;
}
.expenses-total{
  max-width: 80%;
}
#recruiting-Carousel{
  height: 15vh;
}
.how-it-works{
  height:100px;
  font-size: 0.8em;
}
label, select{
  font-size: 1.3em;
}
}
