.medium-text p{
  font-size: 1.5em;
}
.form-control:visited{
  color:white;
  }
.spacer{
  min-height:50px;
  clear:both;
}
.instructors-table{
  padding: 5 5 5 5px;
  border: 1px solid gray;
  margin-top: 20px;
  margin-bottom: 20px;
}
.instructors-table tbody tr td, .instructors-table thead tr th {
    padding-left: 20px;
    font-size: 0.9em;
}
.instructors-table thead {
  font-size: 1.3em;
  border: 1px solid gray;
  background-color: rgba(0,60,128,0.3);
}
.complete-payment{
  height:220px;
  max-height: 50vh;
}
.payment-amounts{
  font-size: 1.2em;
  left: -20px;
  position: relative;
  width: 110%;
}

/*DESKTOP ONLY ADJUSTMENTS*/
@media (min-width: 768px) {
.payment-amounts{
  font-size: 1.6em;
  line-height: 1.6;
}
}
