.search-form{
  width: 300px;
  display: inline-block;
}
.primary-search-form li{
  display: inline-block;
  margin: auto;
  position: relative;
  left: 20vw;
}
.full-hr{
  max-width:90vw !important;
  border: solid 1px #3b5998;
}
#secondary-search-filters{
  float:left;
  width:250px;
  border-right: solid 1px #3b5998;
}
#search-results-section{
  float:left;
  padding-left: 30px;
}
.search-results-card{
  background-color:#d9e9f7;
  border: solid 1px #3b5998;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.calendar-period{
  font-style: italic;
}
.product-name{
    font-size: 2.7em;
}
.location-name{
    margin-bottom: 0px;
    font-size: 1.9em;
    text-align: center;
}
.location-logo-index{
  height:50px;
}
.location-logo{
  max-height: 100px;
  width: auto;
  max-width: 160px;
}
.products-cta{
  margin-bottom: 0px;
}
#lesson-length-filter ul {
  list-style-type: none;
}
