    <section id="header-creative" class="top-section">
        <ul id="slider">
            <li>
                <img src="https://s3.amazonaws.com/snowschoolers/calm-before-storm-feb13.JPG" alt="lake tahoe" class="bg-photo" alt="" />
            </li>
        </ul>
        <div class="header-content">
            <div class="header-content-inner">
                    <h1 id="homeHeading" class="shadow-box-highlight">Now is the time to lock in great savings on the '17/18 season!<br>
                    <span class="smaller-text"></span>
                    </h1>
                    <hr>
                <div id="search-widget">
                    <%= form_tag(pass_search_results_path, :method => "get", class: "pass-search-form") do %>
                    <%= text_field_tag :search, params[:search], placeholder: "Shop season passes from your favorite resort", class:'navy-text form-control search-form' %>
                    <%= submit_tag "Search Spring Deals", class:"btn btn-primary btn-xl page-scroll" %>
                    <% end %>
                </div>

            </div>
        </div>
    </section>

