    <section id="header-creative" class="top-section">
        <ul id="slider">
            <li>
                <img src="https://s3.amazonaws.com/snowschoolers/calm-before-storm-feb13.JPG" alt="lake tahoe" class="bg-photo" alt="" />
            </li>
        </ul>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" class="shadow-box-highlight">Now is the perfect time to lock in great savings on the '17/18 season!<br>
                </h1>
                <hr>
                <div>
                    <a href="tahoe-season-passes-search-results" class="btn btn-primary btn-xl page-scroll">Shop Spring Deals</a>
                </div>
                <hr>
                <div class="shadow-box-highlight season-pass-subheader"> 
                    <p>
                        After the snowiest winter in living memory, almost all of the <a href="resorts" class="green-link">16 ski areas</a> in Tahoe are now offering great deals if you buy next year's season pass today. 
                    <br>
                    <br>
                        Buy today not only to lock in a low price, but you'll also enjoy the rest of this year's spring skiing for free!
                    </p>
                </div>


            </div>
        </div>
    </section>

